<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>StudyMoa</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" >
</head>
<body class="bg-light">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#" th:href="@{/}">
                <img th:src="@{'/images/logo.png'}" width="30" height="30" alt="" loading="lazy">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="스터디 찾기" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">찾기</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav">
                    <li class="nav-item " sec:authorize="!isAuthenticated()">
                        <a class="nav-link text-white active" th:href="@{/}">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link text-white" th:href="@{/sign-up}">회원가입</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link text-white" th:href="@{/notifications}">알림</a>
                    </li>
                    <li class="nav-item mr-1" sec:authorize="isAuthenticated()">
                        <a class="nav-link text-white btn btn-outline-primary" th:href="@{/notifications}">스터디 개설</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle left-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span sec:authentication="name"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm-right">
                                <a class="dropdown-item" th:href="@{'/profile' + ${#authentication.name}}">프로필</a>
                                <a class="dropdown-item" href="#">스터디</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{'/settings/profile'}">설정</a>
                                <a class="dropdown-item" >
                                    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                                        <button class="dropdown-item" type="submit">로그아웃</button>
                                    </form>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container mt-md-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div>
                    <h2>홈</h2>
                </div>

            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>